<%= form_for @actuator_type, :html => { :class => "form-horizontal actuator_type" } do |f| %>

  <% if @actuator_type.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@actuator_type.errors.count, "error") %> prohibited this actuator_type from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @actuator_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-2"></div>
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-5">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <div class="col-lg-2"></div>
    <%= f.label :caracteristics, :class => 'control-label col-lg-2' %>
    <div class="col-lg-5">
      <%= f.text_field :caracteristics, :class => 'form-control' %>
    </div>
    <%=f.error_span(:caracteristics) %>
  </div>

  <div class="form-group">
    <div class="col-lg-2"></div>
    <div class="col-lg-offset-2 col-lg-5">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                actuator_types_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
