<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>
<p>
  <b>user id:</b>
  <%= session[:user_id] if session[:user_id]%>
</p>
<p>
  <b>email:</b>
  <%= session[:email] if session[:email]%>
</p>
<div class="page-header", id="homeSection">
  <h1>Home</h1>
<%= render 'layouts/content' %>
  </div>

<div class="page-header", id="aboutSection">
  <h1>About</h1>
<%= render 'layouts/content1' %>
</div>
<div class="page-header", id="teamSection">
  <h1>Team</h1>
<%= render 'layouts/content2' %>
 </div>
