<%= form_for(@actuator) do |f| %>
  <% if @actuator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actuator.errors.count, "error") %> prohibited this actuator from being saved:</h2>

      <ul>
      <% @actuator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ref %><br>
    <%= f.text_field :ref %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.check_box :state %>
  </div>

    <div class="field">
      <%= f.label :actuators_type_id %><br>
     <%= f.select("actuator_type_id", ActuatorType.all.collect {|p| [ p.name,p.id ] }, {prompt: 'Select Type'}) %>
    </div>

    <div class="field">
      <%= f.label :greenkub_box_id %><br>
      <%= f.select("green_kub_box_id", GreenKubBox.all.collect {|p| [ p.name,p.id ] }, {prompt: 'Select Type'}) %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
