<p id="notice"><%= notice %></p>

<p>
  <strong>Ref:</strong>
  <%= @actuator.ref %>
</p>

<p>
  <strong>State:</strong>
  <%= @actuator.state %>
</p>

<p>
  <strong>Actuators type:</strong>
  <%= @actuator.actuators_type_id %>
</p>

<p>
  <strong>Greenkub box:</strong>
  <%= @actuator.greenkub_box_id %>
</p>

<%= link_to 'Edit', edit_actuator_path(@actuator) %> |
<%= link_to 'Back', actuators_path %>
