<%= form_for(@sensor) do |f| %>
  <% if @sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>

      <ul>
      <% @sensor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ref %><br>
    <%= f.text_field :ref %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.check_box :state %>
  </div>
  <div class="field">
    <%= f.label :sensor_type_id %><br>
    <%= f.number_field :sensor_type_id %>
  </div>
  <div class="field">
    <%= f.label :greenkub_box_id %><br>
    <%= f.number_field :greenkub_box_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
