<%= form_for @sensor, :html => { :class => "form-horizontal sensor" } do |f| %>

  <% if @sensor.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @sensor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :ref, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :ref, :class => 'form-control' %>
    </div>
    <%=f.error_span(:ref) %>
  </div>
  <div class="form-group">
    <%= f.label :state, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :state, :class => 'form-control' %>
    </div>
    <%=f.error_span(:state) %>
  </div>
  <div class="form-group">
    <%= f.label :sensor_type_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= select_tag :sensor_type_id, options_from_collection_for_select(SensorType.all, :id, :name), { class: "form-control selectpicker", "data-live-search" => "true"  } %>


    </div>
    <%=f.error_span(:sensor_type_id) %>
  </div>
  <div class="form-group">
    <%= f.label :green_kub_box_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= select_tag :green_kub_box_id, options_from_collection_for_select(GreenKubBox.all, :id, :Serial_Number), { class: "form-control selectpicker", "data-live-search" => "true"  } %>
    </div>
    <%=f.error_span(:green_kub_box_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sensors_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
