<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "GreenKub", green_kub_boxes_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sensors",   sensors_path %></li>
        <li><%= link_to "Actuators",   actuators_path %></li>
        <li><%= link_to "Info Sensors", sensor_actuator_infos_path %></li>
        <li><%= link_to "Type Sensors", sensor_types_path %></li>
        <li><%= link_to "Type Actuators", actuator_types_path %></li>
        <li><%= link_to "Models", models_path %></li>

      </ul>
      
    </nav>
  </div>
</header>