<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "GreenKub", 'green_kub_boxes', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sensors",   'sensors' %></li>
        <li><%= link_to "Actuators",   'actuators' %></li>
        <li><%= link_to "Info Sensors", 'sensor_actuator_infos' %></li>
        <li><%= link_to "Type Sensors", 'sensor_types' %></li>
        <li><%= link_to "Type Actuators", 'actuator_types' %></li>

      </ul>
    </nav>
  </div>
</header>