<!DOCTYPE html>
<html>
<head>
  <title>GreenKub - Farm Yourself !</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <![endif]-->
  <%= render 'layouts/shim' %>
</head>
<body>
<!--<%= render 'layouts/header' %>-->
<%= render 'layouts/navigation_bar' %>
<div class="container-fluid">

  <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %><br>
      <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
  <% end %>
</div>

<div class="container">

<%= yield %>

  <%= render 'layouts/footer' %>

</div>

</body>
</html>
